* body {
    background-color: rgb(201, 64, 216);
} /*changing background colour*/
#firstparagraph {
    color: rgb(253, 253, 253);
}
.bodies {
    background-color: rgb(42, 159, 165);
} /*changing background colour on text under the class "bodies"*/ 
ul.nav-menu {
    list-style-type: none;
    margin: 10pt;
    padding: 0px;
    display: flex; /* Enable Flexbox */
}
ul.nav-menu :hover { 
    color: crimson;
    text-decoration: double;
}
#main-body {
    border: 2px solid black; /* 2px wide, solid, black color border */
  }
.bodies {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    font-weight:normal;
    letter-spacing: normal; 
    line-height: 20px; 
    text-align: normal;
    text-transform: normal;
    white-space: normal; /*this is changing the font of all elements under the bodies class*/
} 
.rubik-wet-paint-regular {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
  }
#home {
    font-family:"Rubik Wet Paint" ;
    font-size: 66px;
} /*changning header on home page to google font*/ 
#coolpic { 
width: 100%;
max-width: 800px; 
display: block;
margin: 0 auto;
border: 5px solid rgb(102, 17, 17)
} /*adjustments to picture of me*/
#table-1 {
    border: 2px solid#5b0909;
    border-collapse: collapse;
}
